@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


.App-logo {
  height: 550px;
  width: 550px;
  animation: App-logo-spin infinite 20s linear;

}

.App {
  background-color: #212529;
  overflow: hidden;
}

.bg-home {
  background-image: url('./img/bg-hero.jpg');
  background-size: cover;

}

.bg-home-rgb {
  background-color: rgba(15, 23, 43, .9);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* navbar style */
.navbar-nav .active {
  color: #8DC63F !important;
}

.navigation {
  background-color: #22222c !important;
}

.dropdown-menu {

  background-color: #22222c !important;
}

.dropdown-menu a {
  color: #fff !important;
}

.dropdown-menu a:hover {
  background-color: #8DC63F;
}

.dropdown-toggle.nav-link {
  color: #FFFfff !important;
}

.dropdown-toggle.nav-link:hover {
  color: #8DC63F;
}

/* service style */
.service .card-bg {
  background-color: #22222c;
  transition: 1s all;
}

.card-bg:hover {
  background-color: #8DC63F;

}

.card-bg:hover svg {
  color: #fff !important;
}

/* about style */
.before-effect,
.after-effect {
  position: relative;
}



.after-effect::after {
  content: '';
  width: 50px;
  top: 50%;
  height: 2px;
  position: absolute;
  left: 108%;
  background-color: #8DC63F;
}

.before-number {
  position: relative;
}

.before-number::before {
  content: '';
  width: 4px;
  top: 0%;
  height: 100%;
  position: absolute;
  left: -7px;
  background-color: #8DC63F;
}


/* Menu style */
.carousel .carousel-style {
  top: -100px;
  height: 100px;
}

.carousel .carousel-style [data-bs-target] {
  width: 110px;
  height: 50px;
  text-indent: initial;
  color: #FFFfff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: relative;
  margin: 0 10px;
}

.carousel .carousel-style .active::after {
  content: '';
  background-color: #8DC63F;
  bottom: -8px;
  right: -10px;
  width: 105%;
  height: 3px;
  position: absolute;

}

.pading {
  padding-top: 150px;
}

.before-effect::before {
  content: '';
  width: 50px;
  top: 50%;
  height: 2px;
  position: absolute;
  right: 108%;
  background-color: #8DC63F;
}


/* cart  */

.row .cart {
  background-color: #22222c;
  position: relative;
  padding: 0;
  padding-top: 60px;
  border-radius: 25px;
}

.cart-img {
  position: absolute;
  top: -5%;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart-img img {
  border-radius: 50px;
  height: 80px;
  width: 80px;
}


.nav-pills .nav-style.active {
  background-color: #8DC63F !important;
  color: #FFFfff !important;
  border-radius: 30px;
}

.react-datetime-picker {
  height: 58px;
}

.react-datetime-picker__wrapper {
  border: none !important;
  width: 100%;
}

.book-table {
  height: 100vh;
  background-image: url('./img/book-bg.jpg');
  background-size: cover;
}


/* team */
.team .card-body .card-img {
  overflow: hidden;
  border-radius: 50%;
}

.team .card-body .card-img img {
  transition: .5s all;

}

.team:hover .card-body .card-img img {
  transform: scale(1.1);

}

.card-icon span {
  margin: 5px;
  color: #fff;
  background-color: #8DC63F;
  padding: 10px;
  padding-top: 15px;
  border-radius: 80px 80px 0 0;
}

.team {
  background-color: #22222c !important;
  margin: 1%;
}

@media (min-width: 992px) {
  .team {
    width: 23% !important;
  }
}


/* testimonials */

.testimonials .card {
  background-color: #22222c;
}

.testimonials .card .card-img {

  height: 75px;
  width: 75px;
}

.testimonials .card img {
  border-radius: 80%;

}

.h-full {
  min-height: 100vh;
}

.disabled {
  z-index: -1;
  opacity: .6;
}

.white-space {
  white-space: nowrap;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
  color: #8DC63F;
}

.icon-style span {
  margin: 20px 3px;
  padding: 5px;

}

.footer {
  background-image: url('./img/footer_background.jpg');
}

.footer>div {
  background-color: rgba(15, 23, 43, .9);
}

